*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 10px 50px 10px 50px;
}

h1{
    display: inline-block;
    margin: 15px 0px;
}

button{
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 553px;
    background-color:turquoise;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
}

#sketch-board{
    border: 1px solid black;
    width: 600px;
    height: 600px;
    display: grid;
}

.square{
    background: #fff;
    height: 100%;
    width: 100%;
    border-radius: 25px;
}
